$dirty: #E0E1E4;
$font:'Roboto Flex', sans-serif;
@import "sass/featured";
@import "sass/header";
@import "sass/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $dirty;
    background-size: cover;
    font-family: $font;
}
/*Product Details*/
.product{
margin-top: 80px;
}
.product .col-2 img{
    padding: 0;
}
.product .col-2 {
    padding: 20px;
}
.product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.product input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1 px solid black;
}
.product:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.small-img-col{
    flex-basis: 23%;
    cursor: pointer;
}