$dirty: #E0E1E4;
$font:'Roboto Flex', sans-serif;
@import "sass/featured";
@import "sass/header";
@import "sass/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $dirty;
    background-size: cover;
    font-family: $font;
}
.thanks-container{
    background: black;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 100;
    margin: auto;
    box-shadow: 0 0 20px 0 rgb(142, 133, 133);
    overflow: hidden;
    margin-top: 130px;
    margin-bottom: 50px;
}
.your{
    color: $dirty;
    font-size: 30px;
    text-decoration: underline;

}
.continue{
    color: $dirty; 
    transform: transition 1s;
}
.continue:hover{
    text-decoration: underline;
    color: $dirty;
}
.thanks{
   
    font-size: 50px;
    text-align: center;
}
.complete{
    color: $dirty;
    text-align: center ;
 
    font-weight: bolder;
}
.owe{
    color: $dirty;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
}
.yay{
    margin-inline: 10%;
    border: 10%;
    border-style: solid;
    padding: 3%;
    border-radius: 2%;
    background-color: black;
    margin-top: 30px;
}